<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/basic.css">
    <title></title>
</head>

<div class="d-flex justify-content-center" style="height: 100vh;">
    <div class="card align-self-center">
        <div class="card-header">
            LOGIN Page
        </div>
        <div class="card-body">
            <th:block th:if="${param.logout != null}">
                <script type="text/javascript">
                    window.location.href = '/main';
                </script>
            </th:block>
            <form id="LoginForm" action="/firstView/login" method="post" th:if="${param.logout == null}">
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input type="text" name="username" class="form-control" placeholder="USER ID">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드</span>
                    <input type="password" name="password" class="form-control" placeholder="PASSWORD">
                </div>
                <div class="input-group mb-3">
                    <input class="form-check-input" type="checkbox" name="remember-me">
                    <label class="form-check-label">자동로그인</label>
                </div>
                <div class="my-4">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary submitBtn">LOGIN</button>

                        <button type="button" class="basic-btn btn btn-primary btns" data-bs-toggle="modal"
                                data-bs-target="#signupModal">
                            회원가입
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--  회원가입 모달창 start -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel"><span class="rogo-span">PNS</span> 회원가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body signup-modal-body">
                <div class="tab-content mt-3 div-sign-login" id="signupTabContent">
                    <form id="registerForm" name="registerForm" action="/join" method="post">
                        <!--아이디중복확인-->
                        <div class="mb-3">
                            <label for="allId" class="form-label">아이디</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="allId" id="allId"
                                       placeholder="3자 이상, 16자 이하의 영어 또는 숫자로 구성" required
                                       minlength="3" maxlength="16" pattern="^[a-zA-Z0-9]{3,16}$"
                                       title="3자 이상, 16자 이하의 영어 또는 숫자만 입력 가능합니다.">
                            </div>
                            <!-- 중복 확인 메시지 출력 공간 -->
                            <textarea id="username-feedback" class="mt-1 input-feedback text-success"
                                      style="all: unset; width: 20vw; border: none; outline: none;" readonly>
                            </textarea>
                        </div>

                        <!--이메일중복확인-->
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <div class="input-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="ex) email@pns.com" required>
                            </div>
                            <textarea id="email-feedback" class="mt-1 input-feedback text-danger"
                                      style="all: unset; width: 20vw; border: none; outline: none;" readonly>
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="홍길동" required>
                        </div>
                        <div class="mb-3">
                            <label for="aPsw" class="form-label">비밀번호 <span style="font-size: 0.6rem;">6자 이상, 16자 이하의 영어와 숫자의 조합으로 구성</span></label>
                            <input type="password" class="form-control" id="aPsw"
                                   required
                                   minlength="6"
                                   maxlength="16"
                                   pattern="^[a-zA-Z0-9]{6,16}$">
                        </div>
                        <div class="mb-3">
                            <label for="aPswCheck" class="form-label">비밀번호 확인</label>
                            <input type="password" class="form-control" name="aPsw" id="aPswCheck"
                                   required
                                   minlength="6"
                                   maxlength="16"
                                   pattern="^[a-zA-Z0-9]{6,16}$">
                            <div id="password-feedback" class="mt-1 input-feedback text-success"></div>
                        </div>
                        <div class="mb-3">
                            <label for="aPhone" class="form-label">전화번호</label>
                            <input type="tel" class="form-control" name="aPhone" id="aPhone"
                                   placeholder="ex) 01012345678"
                                   required
                                   pattern="^\d{11}$"
                                   title="전화번호는 '-'없이 01012345678 형식의 11자리이어야 합니다.">
                        </div>
                        <input type="hidden" name="memberType" value="default">
                        <button type="submit" class="btn btn-success w-100 modal-btn"
                                id="signupButton" disabled>가입하기
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 회원가입 모달창 end -->

<script src="/js/regi.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>