<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      th:with="breadcrumbLevel1='자재 관리', breadcrumbCurrent='입고 관리'">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="/css/supply/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="mtReceipt">
  <div class="container-fluid">
    <div class="container" style="max-width: 1000px; margin-left: 0;">
      <div class="d-flex align-items-center mb-3">
        <h4 class="mb-0 me-2">입고 관리</h4>
        <div class="tooltip-wrap">
          <i class="bi bi-question-circle-fill fs-6 text-secondary" role="button"></i>
          <span class="tooltip-text">물류창고에 도착한 입고 목록에 한해서 입고 검수를 진행합니다.</span>
        </div>
      </div>
      <form>
        <div class="row g-2 align-items-end">
          <div class="col-md-2">
            <label class="form-label small">입고 코드</label>
            <select class="form-select form-select-sm" title="입고번호">
              <option selected>전체</option>
              <option value="-">-</option>
              <option value="-">-</option>
              <option value="-">-</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label small">발주 코드</label>
            <select class="form-select form-select-sm" title="발주번호">
              <option selected>전체</option>
              <option value="-">-</option>
              <option value="-">-</option>
              <option value="-">-</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label small">공급 업체명</label>
            <select class="form-select form-select-sm" title="업체명">
              <option selected>전체</option>
              <option value="-">-</option>
              <option value="-">-</option>
              <option value="-">-</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label small">부품명</label>
            <select class="form-select form-select-sm" title="업체명">
              <option selected>전체</option>
              <option value="-">-</option>
              <option value="-">-</option>
              <option value="-">-</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label small">자재명</label>
            <select class="form-select form-select-sm" title="업체명">
              <option selected>전체</option>
              <option value="-">-</option>
              <option value="-">-</option>
              <option value="-">-</option>
            </select>
          </div>
          <div class="col-md-2 d-flex align-items-end gap-2">
            <button type="button" class="btn btn-dark btn-sm w-100">적용</button>
            <button type="button" class="clearBtn btn btn-outline-dark btn-sm w-100" title="필터 초기화">초기화</button>
          </div>
        </div>
      </form>
      <!-- 2줄: 검색어 입력 -->
      <form>
        <div class="row g-2 mt-2">
          <div class="col-md-6">
            <div class="input-group input-group-sm">
              <span class="input-group-text bg-white"><i class="fas fa-search text-secondary"></i></span>
              <input type="text" class="form-control" id="keyword" title="검색어 입력" placeholder="검색어 입력">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container" style="max-width: 1600px; margin-left: 0;">
      <div class="d-flex justify-content-end mb-2">
        <form>
          <div class="col-auto">
            <select class="form-select form-select-sm" title="정렬 갯수 필터">
              <option selected>전체</option>
              <option value="20">20개씩</option>
              <option value="30">30개씩</option>
              <option value="50">50개씩</option>
            </select>
          </div>
        </form>
      </div>
      <div class="bg-white rounded">
        <div style="max-height: 550px; overflow-y: auto;">
          <table class="table table-sm table-bordered table-hover align-middle fs-6">
            <thead class="table-light small text-center">
            <tr>
              <th><input type="checkbox" id="selectAll" disabled></th>
              <th>발주 코드</th>
              <th>공급 업체</th>
              <th>자재 코드</th>
              <th style="width: 300px;">자재명</th>
              <th>자재 유형</th>
              <th>자재 분류 품목</th>
              <th>수량</th>
              <th>입고 예정일</th>
              <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="checkbox" class="selectPlan" title="해당 행 선택"></td>
              <td>BA-20250401</td>
              <td>SAMSON</td>
              <td>MATB3MAT001</td>
              <td style="width: 300px;">안장B</td>
              <td>완제품</td>
              <td>(전기자전거)안장</td>
              <td>500</td>
              <td>2024-04-13</td>
              <td>도착전</td>
            </tr>
            <tr>
              <td><input type="checkbox" class="selectPlan" title="해당 행 선택"></td>
              <td>BA-20250401</td>
              <td>카인드몰</td>
              <td>MATB3MAT001</td>
              <td style="width: 300px;">안장B</td>
              <td>완제품</td>
              <td>(전기자전거)안장</td>
              <td>500</td>
              <td>2024-04-13</td>
              <td>도착</td>
            </tr>
            <tr>
              <td><input type="checkbox" class="selectPlan" title="해당 행 선택"></td>
              <td>BA-20250401</td>
              <td>바이크제철</td>
              <td>MATB3MAT001</td>
              <td style="width: 300px;">안장B</td>
              <td>완제품</td>
              <td>(전기자전거)안장</td>
              <td>500</td>
              <td>2024-04-13</td>
              <td>도착전</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-start">
          <button type="button" class="btn btn-primary btn-sm" id="openPurchaseModal">
            선택 항목 입고 검수
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="purchaseOrderModal" tabindex="-1" aria-labelledby="purchaseOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="purchaseOrderModalLabel">입고 검수</h5>&nbsp;&nbsp;
          <small class="text-muted mt-2 d-block"><span class="text-danger">*</span> 항목은 필수 입력 항목입니다</small>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="purchaseOrderForm">
            <div class="row g-3 mb-3">
              <p class="text-muted small mb-2">
                선택된 발주 코드 : <strong><span id="planCodeInput"></span></strong>&nbsp;&nbsp;
              </p>
              <p class="text-muted small mb-2">
                공급업체 : <strong><span id="supplier"></span></strong>&nbsp;&nbsp;
                자재명 : <strong><span id="productNameInput"></span></strong>&nbsp;&nbsp;
                발주 수량 : <strong><span id="productQuantity"></span></strong>&nbsp;&nbsp;
              </p>
              <div class="col-12">
                <label class="form-label">실제 도착 수량</label>
                <input type="text" class="form-control form-control-sm" readonly required>
              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-danger">*</span> 검수 수량</label>
                <input type="text" class="form-control form-control-sm" required>
              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-danger">*</span> 불량 수량</label>
                <input type="text"  class="form-control form-control-sm" required>
              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-danger">*</span> 검수 결과</label>
                <input type="text"  class="form-control form-control-sm" required>
              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-danger">*</span> 검수자</label>
                <input type="text"  class="form-control form-control-sm" required>
              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-danger">*</span> 검수일</label>
                <input type="date" id="deliveryDate" class="form-control form-control-sm" required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary btn-sm">검수 완료</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/outPut/outPutManage.js}"></script>
</div>
</body>