<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      th:with="breadcrumbLevel1='제품 관리', breadcrumbCurrent='상품 목록'">
<head>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">-->
    <!--    <link href="/css/production/list.css" rel="stylesheet">-->
</head>
<body>
    <div layout:fragment="pdList">
    </div>
</body>
