<!-- mypage.html -->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      th:with="breadcrumbLevel1='마이페이지'">
<head>
    <title>PNS - 마이페이지</title>
    <link href="/css/product/goodsRegister.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="mypage">
        <div class="container-fluid">
            <div class="container" style="max-width: 1000px; margin-left: 0">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="mb-0 me-2">내 정보 보기</h4>
                    <i class="bi bi-question-circle-fill fs-6 text-secondary" role="button" title="도움말"></i>
                </div>
                <form>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">이름</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:value="${userBy.uName}" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">부서</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:value="${userBy.userJob}" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">이메일</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" th:value="${userBy.uEmail}" readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">연락처</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:value="${formattedPhone}" readonly>
                        </div>
                    </div>

                    <div class="mt-4">
                        <a href="#" class="btn btn-primary">정보 수정</a>
                        <a href="#" class="btn btn-danger">회원 탈퇴</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
