<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      th:with="breadcrumbLevel1='계정 관리', breadcrumbCurrent='권한 관리'">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="/css/supply/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="mmRoleSet">
    <div class="container-fluid">
        <div class="container" style="max-width: 1000px; margin-left: 0;">
            <div class="d-flex align-items-center mb-3">
                <h4 class="mb-0 me-2">역할 별 권한 설정</h4>
                <div class="tooltip-wrap">
                    <i class="bi bi-question-circle-fill fs-6 text-secondary" role="button"></i>
                    <span class="tooltip-text">역할별로 시스템 기능에 대한 접근 권한을 세분화하여 설정할 수 있습니다. 변경된 권한은 저장 이후 즉시 적용됩니다.</span>
                </div>
            </div>
            <form>
                <div class="row g-2 align-items-end">
                    <div class="col-md-2">
                        <label for="deptName" class="form-label small">부서 선택</label>
                        <select class="form-select form-select-sm" id="deptName" title="부서 선택">
                            <option selected>전체</option>
                            <option value="-">생산부서</option>
                            <option value="-">구매부서</option>
                            <option value="-">자재부서</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="deptName" class="form-label small">역할 선택</label>
                        <select class="form-select form-select-sm" id="role" title="역할 선택">
                            <option selected>전체</option>
                            <option value="관리자">관리자</option>
                            <option value="일반">일반</option>
                        </select>
                    </div>
                    <div class="col-md-2 d-flex align-items-end gap-2">
                        <button type="button" class="btn btn-dark btn-sm w-100">적용</button>
                        <button type="button" class="clearBtn btn btn-outline-dark btn-sm w-100" title="필터 초기화">초기화</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="container" style="max-width: 1600px; margin-left: 0;">
            <div class="bg-white rounded">
                <div style="max-height: 550px; overflow-y: auto;">
                    <table class="table table-sm table-bordered table-hover align-middle fs-6">
                        <thead class="table-light small text-center">
                        <tr>
                            <th><input type="checkbox" id="selectAll" title="전체선택"></th>
                            <th>부서</th>
                            <th>역할</th>
                            <th>읽기</th>
                            <th>작성</th>
                            <th>수정</th>
                            <th>삭제</th>
                            <th>승인</th>
                            <th>수정</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" class="selectPlan" title="해당 행 선택"></td>
                            <td>생산부서</td>
                            <td>생산담당자</td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>
                                <div class="icon-button tooltip-wrap" style="cursor: pointer">
                                    <i class="bi bi-pencil fs-6"></i>
                                    <span class="tooltip-text">수정</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="selectPlan" title="해당 행 선택"></td>
                            <td>생산부서</td>
                            <td>생산팀</td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>
                                <div class="icon-button tooltip-wrap" style="cursor: pointer">
                                    <i class="bi bi-pencil fs-6"></i>
                                    <span class="tooltip-text">수정</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-danger btn-sm" id="openPurchaseDelModal">
                                선택 항목 삭제
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="openPurchaseModal">
                                변경 사항 저장
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="setAuthModal" tabindex="-1" aria-labelledby="setAuthModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">부서 변경</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <select class="form-select form-select-sm" id="newDept">
                            <option value="생산">생산부서</option>
                            <option value="구매">구매부서</option>
                            <option value="자재">자재부서</option>
                            <option value="관리자">관리자</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
                        <button class="btn btn-primary btn-sm">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="purchaseOrderModal" tabindex="-1" aria-labelledby="purchaseOrderModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseOrderModalLabel">사원 상세 정보</h5>&nbsp;&nbsp;
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 700px; overflow-y: auto;">
                    <form id="purchaseOrderForm">
                        <div class="row g-3 mb-3">
                            <div class="col-12">
                                <label class="form-label">사번</label>
                                <input type="text" id="uNum" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">이름</label>
                                <input type="text" id="uName" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">부서</label>
                                <input type="text" id="uJob" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">직책</label>
                                <input type="text" id="uPosition" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">생년월일</label>
                                <input type="text" id="uBirthDay" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">전화번호</label>
                                <input type="text" id="uPhone" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">이메일</label>
                                <input type="text" id="uEmail" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">주소</label>
                                <input type="text" id="uAddress" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">입사일</label>
                                <input type="date" id="uHireDate" class="form-control form-control-sm" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label">가입 승인일</label>
                                <input type="date" id="uAgreeDate" class="form-control form-control-sm" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="purchaseOrderModalDel" tabindex="-1" aria-labelledby="purchaseOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseOrderModalDelLabel">사원 정보 삭제</h5>&nbsp;&nbsp;
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-sm table-bordered table-hover align-middle fs-6">
                            <thead class="table-light small text-center">
                            <tr>
                                <th>사번</th>
                                <th>이름</th>
                                <th>부서</th>
                                <th>직책</th>
                                <th>신청일</th>
                            </tr>
                            </thead>
                            <tbody class="selectedEmpList">
                            <!-- JS로 선택된 사원 목록 추가 -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnBatchReject">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/memberManagement/employeeList.js}"></script>
</div>
</body>
